<!DOCTYPE html>
<html>

<head>
  <title>Simple Map</title>

  <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

  <!-- javascript -->
  <!-- <script -->
    <!-- src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDmmbh4r3EiqD57Jx2Di_XMMwrCvhGPA80&callback=initMap&libraries=places" -->
    <!-- async ></script> -->
  <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDmmbh4r3EiqD57Jx2Di_XMMwrCvhGPA80&callback=initMap&libraries=places"
    defer></script>

  <!-- stylesheets -->
  <link rel="stylesheet" href="/styles/layout.css" />
</head>

<body>
  <%- include('./partials/_header.ejs') %>

  <div id="map"></div>

  <div>
    <div class="toggle-fav"><i class="far fa-star"></i></div>
    <div class="type">add to favorive</div>
  </div>

  <hr>

  <div id="new-point-form">

    <form method="POST" action="/api/pin/<%= map.id %>" id="point-form" data-mapId=<%= map.id %>>
      New Point Data<br>

      <label for="point-title">point-title</label>
      <input type="text" name="title" id="point-title"><br>

      <label for="point-description">point_description</label>
      <input type="text" name="description" id="point-description"><br>

      <label for="point-image-url">point-image-url</label>
      <input type="text" name="image_url" id="point-image-url"><br>

      <label for="point-latitude">point-latitude</label>
      <input type="hidden" name="latitude" id="point-latitude"><br>

      <label for="point-longitude">point-longitude</label>
      <input type="hidden" name="longitude" id="point-longitude"><br>

      <input type="submit" id="point-submit-button" value="Save Point"><br>
    </form>
  </div>

  <br>
  <br>

  <!-- many edit-point-controls so it needs to be a class that appears on each point listing-->
  <!-- this form needs to Edit existing Point (pin) record in db -->

  <div id="edit-point-form" style="display: none">EDIT POINT FORM
    <!-- not sure if form action path is correct - how to specify for routing to update correct db record? -->
    <form id="edit-form">

      <label for="point-title">point-title</label>
      <input type="text" name="title" id="edit-point-title"><br>

      <label for="point-description">point_description</label>
      <input type="text" name="description" id="edit-point-description"><br>

      <label for="point-image-url">point-image-url</label>
      <input type="text" name="image_url" id="edit-point-image-url"><br>

      <!-- hidden attributes -->
      <input type="hidden" name="latitude" id="edit-point-latitude">
      <input type="hidden" name="longitude" id="edit-point-longitude">
      <input type="hidden" name="id" id="edit-point-id">

      <br>

      <input type="submit" id="edit-point-submit" value="SUBMIT EDITS"><br>
    </form>
  </div>

  <br>

  <div id="saved-points">EXAMPLE SAVED POINTS<br>


  </div>



    <div class="marker-list">
      <ul>
        <% for(const marker of pins) {%>
        <li ><%= marker.title%></li>
        <li ><%= marker.description%></li>
        <li ><%= marker.image_url%></li>


        <!-- <button class="edit-point-control" data-pindata=<%= [marker.id, marker.title, marker.description, marker.image_url, marker.latitude, marker.longitude ] %>>Edit this Point</button> -->
        <button class="edit-point-control" data-pindata=<%=[marker.id, marker.description, marker.image_url, marker.latitude, marker.longitude] %>>Edit this Point</button>
        <br>
        <br>
        <% } %>
      </ul>
    </div>





  </div>



  <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/f60010782b.js" crossorigin="anonymous"></script>

  <script src="/scripts/createNewMap.js"></script>
</body>

</html>
