<!DOCTYPE html>
<html>

<head>
  <title>Simple Map</title>

  <!-- javascript -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDmmbh4r3EiqD57Jx2Di_XMMwrCvhGPA80&callback=initMap"
    defer></script>

  <!-- stylesheets -->
  <link rel="stylesheet" href="/styles/layout.css" />
</head>

<body>
  <%- include('./partials/_header.ejs') %>

  <div id="map"></div>

  <!-- <div>
    <div class="toggle-fav"><i class="far fa-star"></i></div>
    <div class="type">add to favorive</div>
  </div> -->

  <hr>

  <div id="new-point-form">

    <div class="point-form-heder">
      <button class="add-marker">Add marker</button>
      <div class="add-fav">
        <div class="toggle-fav"><i class="far fa-star"></i></div>
        <div class="type">add to favorive</div>
      </div>
    </div>

    <div class="toggle-form">
      <form method="POST" action="/api/pin/<%= map.id %>" id="point-form" data-mapId=<%= map.id %>>

        <div id = "pin-title-container">
          <input type="text" name="title" id="point-title" placeholder="Title">

        </div>

        <div id = "pin-description-container">

          <input type="text" name="description" id="point-description" placeholder="Description">
        </div>

        <input type="text" name="latitude" id="point-latitude" readonly>

        <input type="text" name="longitude" id="point-longitude" readonly>
        <div class="button-container">

          <button id="point-submit-button">Save</button>
        </div>
      </form>
    </div>

    <div class="marker-list">
      <ul>
        <% for(const marker of pins) {%>
        <li>
          <div><%= marker.title %></div>
          <div><%= marker.description %></div>
          <div>
            <button>edit</button>
            <button data-markerid='<%= marker.id %>' class="delete-marker">delete</button>
          </div>
        </li>
        <% } %>
      </ul>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/f60010782b.js" crossorigin="anonymous"></script>

  <script src="/scripts/createNewMap.js"></script>
</body>

</html>
